#icon {
    width: 100px;
    height: auto;
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}

#body{
    margin: 0;
    background-color: #000; 
}

.noticia-img {
   background-color: #000;
   color: white;
   border: 5px solid #000;
}

.noticia {
  margin: 10px;
}

#noticias {
    display: flex;
    justify-content: space-around;
}