#icon {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

body {
    margin: 0;
    background-color: #ffffff;
}

.noticia-img {
    background-color: #ffffff;
    color: white;
    border: 5px solid #000;
}

.noticia {
    margin: 10px;
}

#noticias {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 200px;
    height: auto;
}