#icon {
    width: 100px;
    height: auto;
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}