#icon {
    width: 200px;
    height: 100px;
    

}
nav{
    background-color: #000000;
    font-family: monospace;
    font-size: x-large;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 35px;
    border: 4px solid #ffffff;

}
body{
    margin: 0;

    background-color: #ffffff;
}
.img_noticia{
    width: 400px;
   height: 300px;

}
#noticias{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #ffffff;
    h3{
        width: 400px;
    }
    p{
        width: 400px;
        
    }

}
.noticias{
    background-color: #000000;
    color: aliceblue;
    border: 4px solid black;
    margin: 5px;
    
}
.noticias2{
    background-color: #ffffff;
    color: aliceblue;
    border: 4px solid black;

}
footer{
     background-color: #000000;
    font-family: monospace;
    font-size: small;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;

}